/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        cmd_shift_t: cmd_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt LEFT_SHIFT &kt T &kt T &kt LEFT_SHIFT &kt LEFT_COMMAND>;
            label = "CMD_1";
        };

        cmd_shift_r: cmd_shift_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt LEFT_SHIFT &kt R &kt R &kt LEFT_SHIFT &kt LEFT_COMMAND>;
            label = "CMD_SHIFT_R";
        };

        cmd_a: cmd_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt A &kt A &kt LEFT_COMMAND>;
            label = "CMD_A";
        };

        cmd_s: cmd_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt S &kt S &kt LEFT_COMMAND>;
            label = "CMD_S";
        };

        cmd_f: cmd_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt F &kt F &kt LEFT_COMMAND>;
            label = "CMD_F";
        };

        cmd_d: cmd_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt D &kt D &kt LEFT_COMMAND>;
            label = "CMD_D";
        };

        cmd_z: cmd_z {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt Z &kt Z &kt LEFT_COMMAND>;
            label = "CMD_Z";
        };

        cmd_x: cmd_x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt X &kt X &kt LEFT_COMMAND>;
            label = "CMD_X";
        };

        cmd_c: cmd_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt C &kt C &kt LEFT_COMMAND>;
            label = "CMD_C";
        };

        cmd_v: cmd_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt V &kt V &kt LEFT_COMMAND>;
            label = "CMD_V";
        };

        cmd_w: cmd_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt W &kt W &kt LEFT_COMMAND>;
            label = "CMD_W";
        };

        cmd_r: cmd_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt R &kt R &kt LEFT_COMMAND>;
            label = "CMD_R";
        };

        cmd_t: cmd_t {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt T &kt T &kt LEFT_COMMAND>;
            label = "CMD_T";
        };

        cmd_tab: cmd_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt TAB &kt TAB &kt LEFT_COMMAND>;
            label = "CMD_TAB";
        };

        cmd_shift_4: cmd_shift_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt LEFT_SHIFT &kt NUMBER_4 &kt NUMBER_4 &kt LEFT_SHIFT &kt LEFT_COMMAND>;
            label = "CMD_SHIFT_4";
        };

        cmd_opt_v: cmd_opt_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt LEFT_SHIFT &kt T &kt T &kt LEFT_SHIFT &kt LEFT_COMMAND>;
            label = "CMD_OPT_V";
        };

        cmd_2: cmd_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt NUMBER_2 &kt NUMBER_2 &kt LEFT_COMMAND>;
            label = "CMD_2";
        };

        cmd_3: cmd_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt NUMBER_3 &kt NUMBER_3 &kt LEFT_COMMAND>;
            label = "CMD_3";
        };

        cmd_4: cmd_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt NUMBER_4 &kt NUMBER_4 &kt LEFT_COMMAND>;
            label = "CMD_4";
        };

        cmd_5: cmd_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt N5 &kt N5 &kt LEFT_COMMAND>;
            label = "CMD_5";
        };

        cmd_6: cmd_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt NUMBER_6 &kt NUMBER_6 &kt LEFT_COMMAND>;
            label = "CMD_6";
        };

        cmd_7: cmd_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt N7 &kt N7 &kt LEFT_COMMAND>;
            label = "CMD_7";
        };

        cmd_8: cmd_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt N8 &kt N8 &kt LEFT_COMMAND>;
            label = "CMD_8";
        };

        cmd_9: cmd_9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt N9 &kt N9 &kt LEFT_COMMAND>;
            label = "CMD_9";
        };

        cmd_0: cmd_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt N0 &kt NUMBER_0 &kt LEFT_COMMAND>;
            label = "CMD_0";
        };

        cmd_1_: cmd_1_ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt NUMBER_1 &kt NUMBER_1 &kt LEFT_COMMAND>;
            label = "CMD_1_";
        };

        cmd_opt_v_: cmd_opt_v_ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt LEFT_ALT &kt V &kt V &kt LEFT_ALT &kt LEFT_COMMAND>;
            label = "CMD_OPT_V_";
        };

        cmd_p: cmd_p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt P &kt P &kt LEFT_COMMAND>;
            label = "CMD_P";
        };

        pi: pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N3 &kp N1 &kp N4 &kp N1 &kp N5 &kp ENTER>;
            label = "PI";
        };

        cmd_space: cmd_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_COMMAND &kt SPACE &kt SPACE &kt LEFT_COMMAND>;
            label = "CMD_SPACE";
        };
    };

    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <35>;
            hold-while-undecided;
        };

        hold_tap_layer: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <35>;
            hold-while-undecided;
        };

        hold_tap_2_w: hold_tap_2_w {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_2_W";
            bindings = <&cmd_w>, <&cmd_2>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <2>;
            tapping-term-ms = <100>;
        };

        hold_tap_4_r: hold_tap_4_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_4_R";
            bindings = <&cmd_r>, <&cmd_4>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <4>;
            tapping-term-ms = <100>;
        };

        hold_tap_5_t: hold_tap_5_t {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_5_T";
            bindings = <&cmd_t>, <&cmd_5>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <5>;
        };

        hold_tap_tab_pi: hold_tap_tab_pi {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_TAB_PI";
            bindings = <&pi>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB                    &kp Q  &kp W  &kp E     &kp R  &kp T                      &kp Y                 &kp U  &kp I            &kp O    &kp P     &kp BSPC
&hold_tap LEFT_ALT ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G                      &kp H                 &kp J  &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT                  &kp Z  &kp X  &kp C     &kp V  &kp B                      &kp N                 &kp M  &kp COMMA        &kp DOT  &kp FSLH  &kp ENTER
                                         &kp LGUI  &mo 1  &hold_tap_layer 3 SPACE    &hold_tap RCMD SPACE  &mo 2  &kp RIGHT_SHIFT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&pi               &kp N1  &kp N2        &kp N3            &kp N4      &kp N5       &kp N6    &kp N7        &kp N8            &kp N9          &kp N0          &kp BSPC
&trans            &trans  &kp C_REWIND  &kp K_PLAY_PAUSE  &kp C_NEXT  &trans       &kp LEFT  &kp C_REWIND  &kp C_PLAY_PAUSE  &kp C_NEXT      &kp UP_ARROW    &trans
&kp LEFT_CONTROL  &trans  &trans        &trans            &trans      &trans       &trans    &trans        &trans            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT
                                        &kp LGUI          &trans      &kp SPACE    &kp RET   &trans        &kp RIGHT_SHIFT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        Commands {
            bindings = <
&cmd_tab  &cmd_1_  &hold_tap_2_w 0 0  &cmd_3  &hold_tap_4_r 0 0  &hold_tap_5_t 0 0    &cmd_6      &cmd_7  &cmd_8  &cmd_9  &cmd_p  &cmd_0
&mo 5     &cmd_a   &cmd_s             &cmd_d  &cmd_f             &trans               &trans      &trans  &trans  &trans  &trans  &trans
&mo 4     &cmd_z   &cmd_x             &cmd_c  &cmd_v             &trans               &trans      &trans  &trans  &trans  &trans  &trans
                                      &trans  &kp SPACE          &trans               &cmd_space  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &cmd_shift_4  &cmd_shift_t    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &cmd_opt_v_   &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans        &trans          &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &cmd_shift_4  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans        &trans    &trans  &trans  &trans
            >;
        };
    };
};
